<%= form_for(@twitter_account) do |f| %>
  <% if @twitter_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@twitter_account.errors.count, "error") %> prohibited this twitter_account from being saved:</h2>

      <ul>
      <% @twitter_account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :actress %><br>
    <%= f.text_field :actress %>
  </div>
  <div class="field">
    <%= f.label :twitter_url %><br>
    <%= f.text_field :twitter_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
